<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
</head>

<body>
    <div class="container" id="accordion">
        <h1 class="mt-4 mb-4">Product Report</h1>
        {{#each products}}
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{@index}}">
                        {{this.name}}
                    </button>
                </h2>
                <p>Sales last month: {{ this.sales }}</p>
                <div id="collapse{{@index}}" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p5>{{ this.price }}</p5>
                        <a href="{{ this.href }}" target="_blank">product page on Amazon</a>
                        <p>{{ this.stars }}</p>
                        <p>reviews: {{ this.reviewNumber }}</p>
                        <br/>
                        <div id="description{{@index}}"></div>
                        <script>
                            var converter = new showdown.Converter(),
                                text      = `{{this.description}}`,
                                html      = converter.makeHtml(text);
                            document.getElementById('description{{@index}}').innerHTML = html;
                        </script>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.attributes}}
                                <tr>
                                    <td>{{this.name}}</td>
                                    <td>{{this.value}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>